{% extends 'assets/default.html' %}
{% load i18n %}
{% load markdown_deux_tags %}
{% load comments %}
{% load common %}

{% block content %}
<div id="asset_{{asset.pk}}">
  <img src="{{asset.image.url}}" alt="{{asset.title}}"/>
  <p class="title">
    <a href="{% url 'by_application' asset.application.slug %}">{{asset.application.title}}</a>
      {% if asset.component %}
      <a href="{% url 'by_component' asset.application.slug asset.component.slug %}">{{asset.component.title}}</a>
      {% endif %}
      : {% asset_title asset False %}</p>
  </p>
  {% if asset.license %}
  <p>{% trans 'License' %}: <a href="{% url 'license' asset.license.slug %}">{{asset.license}}</a></p>
  {% endif %}
  {% if user == asset.author %}
    <p class="edit"><a href="{% url 'edit_asset' asset.pk %}">{% trans 'Edit' %}</a></p>
  {% endif %}
  <p class="notes">{{asset.notes|markdown}}</p>
  <p class="tags">
  {% if asset.tags.all %}
    {% trans 'Tags' %}:
    {% for tag in asset.tags.all %}
      <a class="tag" href="{% url 'by_tag' tag.slug %}">{{tag.name}}</a>
      {% if not forloop.last %}, {% endif %}
    {% endfor %}
  {% else %}
  {% trans 'No tags are assigned to this asset.' %}
  {% endif %}
  </p>
  <p>{% trans 'Rating' context "voting" %}: <span class="num_votes">{{asset.num_votes}}</span>
  {% if user != asset.author %}
  <a href="#" onclick="vote({{asset.pk}}, 'up')">{% trans 'Up' context "voting" %}</a>
  <a href="#" onclick="vote({{asset.pk}}, 'down')">{% trans 'Down' context "voting" %}</a>
  {% endif %}
  </p>
  {% if asset.version %}
  <p>{% trans 'Asset version' %}: {{asset.version}}</p>
  {% endif %}
  <p>{% trans 'Compatible application versions' %}: {{asset.get_app_versions}}</p>
  <p class="download"><a href="{{asset.data.url}}">{% trans 'Download asset' %}</a></p>
  {% if asset.component.install_instructions %}
  <div class="install-instructions">
    <h3>{% trans 'Installation instructions' %}</h3>
    {{asset.component.install_instructions|markdown}}
  </div>
  {% endif %}
</div>

<h3>{% trans 'Comments' %}</h3>
{% get_comment_list for asset as comments %}
{% if comments %}
{% render_comment_list for asset %}
{% else %}
<p>{% trans 'No comments yet.' %}</p>
{% endif %}

{% if user.is_authenticated %}
{% get_comment_form for asset as form %}
    <form action="{% comment_form_target %}" method="post">
    {% csrf_token %}
    {{ form.comment }}
    {{ form.honeypot }}
    {{ form.content_type }}
    {{ form.object_pk }}
    {{ form.timestamp }}
    {{ form.security_hash }}
    <input type="submit" name="submit" value="{% trans 'Post' %}">
    <input type="submit" name="preview" value="{% trans 'Preview' %}">
    <input type="hidden" name="next" value="{% url 'asset' asset.pk %}" />
    </form>
{% else %}
{% url 'login' as login_url %}
<p>{% trans 'Please <a href="{{login_url}}">log in</a> to leave a comment.' %}</p>
{% endif %}

{% endblock %}
