{% load i18n %}
{% load markdown_deux_tags %}
{% load common %}

{% if asset.tags.all %}
  <p class="tags">
  {% for tag in asset.tags.all %}
    <a class="tag" href="{% url 'by_tag' tag.slug %}">{{tag.name}}</a>
    {% if not forloop.last %}, {% endif %}
  {% endfor %}
  </p>
{% endif %}
<p>{% trans 'Rating' context "voting" %}: <span class="num_votes">{{asset.num_votes}}</span>
{% if user != asset.author %}
  <a href="#" onclick="vote({{asset.pk}}, 'up')">{% trans 'Up' context "voting" %}</a>
  <a href="#" onclick="vote({{asset.pk}}, 'down')">{% trans 'Down' context "voting" %}</a>
{% endif %}
<p>{% trans 'Comments' %}: {{asset.get_comments_count}}</p>
