{% load i18n %}
{% load markdown_deux_tags %}
{% load common %}
{% load staticfiles %}

{% if user == asset.author %}
  <p class="edit"><a href="{% url 'edit_asset' asset.pk %}">{% trans 'Edit' %}</a></p>
{% endif %}
{% if asset.tags.all %}
  <p class="tags">
  {% for tag in asset.tags.all %}
    <a class="tag" href="{% url 'by_tag' tag.slug %}">{{tag.name}}</a>
    {% if not forloop.last %}, {% endif %}
  {% endfor %}
  </p>
{% endif %}
  <div class="rating-container">
    {% if user != asset.author %}
      <p><a href="#" onclick="vote({{asset.pk}}, 'up')"><img src="{% static 'assets/vote-up.png' %}" title="{% trans 'Up' context "voting" %}"/></a></p>
    {% endif %}
    <p class="rating-value"><span class="num_votes">{{asset.num_votes}}</span></p>
    {% if user != asset.author %}
      <p><a href="#" onclick="vote({{asset.pk}}, 'down')"><img src="{% static 'assets/vote-down.png' %}" title="{% trans 'Down' context "voting" %}"/></a></p>
    {% endif %}
  </div>
<p>{% trans 'Comments' %}: {{asset.get_comments_count}}</p>
