{% load i18n %}
{% load staticfiles %}
{% load navigation %}
{% load social_auth %}
{% load common %}
{% load flatmenu_tags %}

<!doctype html>
<html>

<head>
  <meta name="google-signin-client_id" content="{% google_plus_client_id %}" />
<link rel="stylesheet" type="text/css" href="{% static 'assets/style.css' %}" />
{% block pagetitle %}
{% if title %}
<title>{{title}}</title>
{% endif %}
{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
<script>
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

function vote(id, direction) {
        $.post('/vote/'+id+'/'+direction+'/', {HTTP_X_REQUESTED:'XMLHttpRequest'},
             function(data) {
                 if (data.success == true) {
                     $('div#asset_'+id+' .num_votes').text(data.score);
                 } else {
                     alert('ERROR: ' + data.error_message);
                 }
             }, 'json'
            )
}

function follow(username) {
        $.post('/accounts/profile/'+username+'/follow/', {HTTP_X_REQUESTED:'XMLHttpRequest'},
             function(data) {
                 if (data.success == true) {
                     $('div#user_'+username+' .followtext').text("You are now following this user.");
                 } else {
                     alert('ERROR: ' + data.error_message);
                 }
             }, 'json'
            )
}

function unfollow(username) {
        $.post('/accounts/profile/'+username+'/unfollow/', {HTTP_X_REQUESTED:'XMLHttpRequest'},
             function(data) {
                 if (data.success == true) {
                     $('div#user_'+username+' .followtext').text("Now you are not following this user.");
                 } else {
                     alert('ERROR: ' + data.error_message);
                 }
             }, 'json'
            )
}
</script>

{% if post_form %}
{{post_form.media}}
{% endif %}

{% block media %}
{% endblock %}

</head>

<body>


{% get_menu_items as menu %}
<div class="topmenu">
<ul class="topmenu">
  {% for item in menu %}
    <li class="menuitem"><a href="{{item.get_url}}">{{item.title}}</a></li>
  {% endfor %}
  {% if user.is_staff %}
    <li class="menuitem"><a href="/admin/">{% trans 'Administration' %}</a></li>
  {% endif %}
  {% if user.is_authenticated %}
    <li class="menuitem"><a href="{% url 'logout' %}">{% trans 'Log out' %}</a></li>
  {% else %}
    <li class="menuitem"><a href="{% url 'login' %}">{% trans 'Log in' %}</a></li>
    <li class="menuitem"><a href="/accounts/register/">{% trans 'Register' %}</a></li>
  {% endif %}
</ul>
</div>

<div class="login">
{% if user.is_authenticated %}
<p>{% trans 'Hello,' context "site_greeting" %} {% user_link user %}!</p>
{% endif %}
</div>

{% block h1 %}
{% if title %}
<h1>
  <a href="/">/</a>
{{title}}
</h1>
{% endif %}
{% endblock %}

{% tree %}

<div id="rightpane">
{% if application %}
  {% if component %}
  <div id="postlink">
    <p><a href="{% url 'post_asset' application.slug component.slug %}">{% trans 'Post an asset' %}</a></p>
  </div>
  {% endif %}
{% endif %}

<div id="searchbox">
  <form action="{% url 'simple_search' %}" method="get">
    {{simple_search_form.query}}
    <input type="submit" value="{% trans 'search' %}"/>
  </form>
  <p><a href="{% url 'advanced_search' %}">{% trans 'Advanced search' %}</a></p>
</div>

{% tags %}
</div>

<div id="content">

{% block content %}
{% endblock %}

</div>

{% block endscripts %}
{% endblock %}
<script>
$(document).ready(function() {
  $('.wmd-preview').hide();
});

$('.wmd-preview-title').click(function() {
  $('.wmd-preview').slideToggle('fast');
});
</script>

</body>
</html>

