{% extends 'assets/default.html' %}
{% load i18n %}
{% load markdown_deux_tags %}

{% block content %}
{% if application %}
<p>{% trans 'Application' %}: <a href="{% url 'by_application' application.slug %}">{{application.title}}</a></p>
{% endif %}
{% if component %}
<p>{% trans 'Component' %}: <a href="{% url 'by_component' application.slug component.slug %}">{{component.title}}</a></p>
{% endif %}
{% if component.upload_instructions %}
<div class="upload-instructions">
  <h3>{% trans 'Upload instructions' %}</h3>
  {{component.upload_instructions|markdown}}
</div>
{% endif %}
<form action="{{form_action}}" method="post" enctype="multipart/form-data">
<table>
  {% csrf_token %}
  {{ post_form.as_table }}
  <tr><td><input type="submit" value="{% trans 'Post' %}"/></td></tr>
</table>
</form>
{% endblock %}
