{% extends 'assets/default.html' %}
{% load i18n %}
{% load gravatar %}

{% block content %}

<div id="user_{{buddy.username}}">
  <div class="gravatar-profile">
    {% gravatar buddy.email 64 %}
  </div>
  <p>{% trans 'Login' %}: {{buddy.username}}</p>
  <p>{% trans 'Name' %}: {{buddy.get_full_name}}</p>
  <p>{% trans 'Rating' %}: {{buddy.profile.get_rating}}</p>

{% if user != buddy %}
{% if followed %}
<p class="followtext">
{% trans 'You are following this user.' %}
<a href="#" onclick="unfollow('{{buddy.username}}')">{% trans 'Do not follow this user' %}</a></p>
{% else %}
<p class="followtext"><a href="#" onclick="follow('{{buddy.username}}')">{% trans 'Follow this user' %}</a></p>
{% endif %}
{% else %}
<p>{% trans 'This is you.' %}</p>
<p><a href="{% url 'edit_profile' %}">{% trans 'Edit your profile details' %}</a></p>
{% endif %}
<p><a href="{% url 'user_feed' buddy.username %}">
  {% blocktrans with name=buddy.get_full_name %}Go to {{name}}'s feed{% endblocktrans %}
</a></p>

{% if most_rated_assets %}
<h2>{% trans 'Most rated assets' %}</h2>
<div class="assets">
    {% for asset in most_rated_assets %}
    <div class="asset">
      <a href="{% url 'asset' asset.pk %}"><img src='{{asset.image.url}}' alt="{{asset.title}}"/></a>
      <p class="title"><a href="{% url 'asset' asset.pk %}">{{asset.title}}</a></p>
    </div>
    {% endfor %}
</div>
{%else%}
  <p>{% trans 'This buddy did not post any assets yet.' %}</p>
{%endif%}
</div>

{% endblock %}
