{% extends 'assets/default.html' %}

{% block content %}

<div id="user_{{buddy.username}}">
<p>Login: {{buddy.username}}</p>
<p>Name: {{buddy.get_full_name}}</p>
<p>Rating: {{buddy.profile.get_rating}}</p>

{% if user != buddy %}
{% if followed %}
<p class="followtext">
You are following this user.
<a href="#" onclick="unfollow('{{buddy.username}}')">Do not follow this user</a></p>
{% else %}
<p class="followtext"><a href="#" onclick="follow('{{buddy.username}}')">Follow this user</a></p>
{% endif %}
{% else %}
<p>This is you.</p>
{% endif %}

{% if most_rated_assets %}
<h2>Most rated assets</h2>
<div class="assets">
    {% for asset in most_rated_assets %}
    <div class="asset">
      <a href="{% url 'asset' asset.pk %}"><img src='{{asset.image.url}}' alt="{{asset.title}}"/></a>
      <p class="title"><a href="{% url 'asset' asset.pk %}">{{asset.title}}</a></p>
    </div>
    {% endfor %}
</div>
{%else%}
  <p>This buddy did not post any assets yet.</p>
{%endif%}
</div>

{% endblock %}
