
<div id="navtree">
  <h3>Navigation</h3>
  <ul>
    {% for app in applications %}
    <li><a href="{% url 'by_application' app.slug %}">{{app.title}}</a>
      {% if app.component_set.all %}
      <ul>
      {% for component in app.component_set.all %}
      <li><a href="{% url 'by_component' app.slug component.slug %}">{{component.title}}</a></li>
      {% endfor %}
      </ul>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  
  <p><a href="{% url 'users_list' %}">All users</a></p>
</div>
