
body {
  font-family: "Ubuntu", Verdana, Arial, sans-serif;
  margin: 0;
  color: #eee;
  background-color: #333;
}

div#content {
  max-width: 100em;
  margin: 0 auto;
  padding: 1ex;
  background: #3b3b3b;
  overflow: hidden;
}

div.comment {
  border: #222 thin solid;
  border-radius: 6px;
  padding: 1ex;
  margin: 1ex;
}

div#navtree {
  max-width: 30em;
  padding-right: 1em;
  padding-left: 1em;
  margin-right: 1em;
  border: #222 thin solid;
  float: left;
  clear: left;
}

div#rightpane {
  max-width: 20em;
  padding: 0;
  padding-top: 1ex;
  padding-left: 1em;
  padding-right: 1em;
  margin: 0;
  margin-left: 1em;
  border: #222 thin solid;
  float: right;
  clear: right;
}

div#tagscloud {
}

div#postlink, div#searchbox {
}

div.login {
  float: right;
  clear: right;
  padding-right: 1em;
  padding-top: 1.5ex;
  color: #f5e39e;
  margin: 0;
}

div.login a {
  color: #f5e39e;
}

div.login p {
  line-height: 0.5;
}

div.topmenu {
  text-align: right;
  padding-left: 1ex;
  padding-right: 1ex;
}

ul.topmenu {
  text-align: right;
  /*position: absolute;*/
  padding: 0.5ex;
  /*background: #3b3b3b;*/
  margin: 0 auto;
}

ul.topmenu li.menuitem {
  display: inline;
  padding: 0.5ex;
  margin: 0;
}

ul.topmenu li.menuitem a {
  text-decoration: none;
}

div.gravatar-profile {
  float: right;
  padding: 1ex;
  border: #222 thin solid;
}

h1 {
  background: #222;
  color: #9e5205;
  padding: 0.5em;
  margin: 0;
}

h2, h3, h4 {
  color: #9e5205;
}

.logo {
  float: left;
  margin: 1ex;
}

.hidden {
  display: none;
}

a:link, a:visited {
  color: #888;
}

a:hover {
  color: #b8a80d;
}

div.asset {
  background: #3f3f3f;
  width: 30em;
  min-height: 10ex;
  float: left;
  padding: 2ex;
  margin: 1ex;
  text-align: left;
  border-radius: 6px;
}

div.asset-details {
  background: #3f3f3f;
  padding: 2ex;
  margin: 1ex;
  text-align: left;
  border-radius: 6px;
}

div.asset-details p.title, div.asset p.title {
  font-weight: bold;
  margin: 5px;
}

p.edit {
  float: right;
  clear: right;
  /*font-weight: bold;*/
  /*border: thin #191A1C solid;*/
  /*padding: 1ex;*/
}

div.rating-container {
  float: right;
  clear: right;
  text-align: center;
  line-height: 0;
  /*border: thin #222 solid;*/
  background-color: #3B3B3B;
  padding: 1ex;
  min-width: 50px;
}

div.rating-container p.rating-value {
  font-size: large;
  font-weight: bold;
}

img.thumbnail {
  float: left;
  margin: 1ex;
}

div.bigimage {
  text-align: center;
  clear: both;
}

img.bigimage {
  margin: 1ex;
}

div.asset div.thumbnail-description {
  margin: 1ex;
  font-size: small;
}

a.tag {
  /*background-color: #ddeefe;*/
  background-color: #f4f4f4;
  border: 1px solid #acc3ec;
  border-top-color: #c0d9e9;
  padding: 2px 7px 2px 10px;
  border-radius: 12px;
  box-shadow: 0 1px 1px #e4edf2;
  color: #2b3840;
  text-shadow: 0 1px 1px white;
  text-decoration: none;
}

ul.taglist {
  /*display: inline;*/
  padding: 0;
}

ul.taglist li {
  display: inline;
  line-height: 2;
}

#id_honeypot {
    display: none;
}

div.pagination {
  text-align: center;
  clear: both;
  margin-top: 5ex;
  padding: 1em;
}

form table {
  width: 100%;
}

input:required:invalid, select:required:invalid {
  color: #eee;
  border: thin #1C1111 solid;
  background-color: #332A2A;
}
textarea:required:invalid {
  color: #eee;
  border: thin #1C1111 solid;
}

input, select, textarea {
  color: #eee;
  background-color: #333;
  border: thin #191A1C solid;
}

form table tr th {
  text-align: left;
  padding-right: 1em;
}

form textarea {
  width: 100%;
}

ul.as-list {
  color: #eee;
  background-color: #333 !important;
}

ul.as-list li.as-result-item {
  background-color: #333 !important;
  border: none;
}

ul.as-list li.as-result-item.active {
  background-color: #333 !important;
  border: thin #191A1C solid;
}

ul.as-list li.as-result-item.active em {
  background-color: #111 !important;
}

div.notice {
  padding: 1ex;
  margin: 1ex;
  text-align: left;
  border: #222 thin solid;
  border-radius: 6px;
  overflow: auto;
  clear: both;
}

div.notice.unread {
  border: #222 2px solid;
}

p.notice-actions {
  text-align: right;
  float: right;
  margin: 0;
}

.menuitem.unread {
  font-weight: bold;
}
