
body {
  font-family: "Ubuntu", Verdana, Arial, sans-serif;
  margin: 0;
}

div#content {
  max-width: 100em;
  margin: 0 auto;
  padding: 1ex;
  background: #f6f6f6;
  overflow: hidden;
}

div#navtree {
  max-width: 30em;
  padding-right: 1em;
  padding-left: 1em;
  margin-right: 1em;
  border: #ccc thin solid;
  float: left;
}

div#tagscloud {
  max-width: 20em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: 1em;
  border: #ccc thin solid;
  float: right;
  clear: right;
}

div#postlink {
  max-width: 30em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: 1em;
  border: #ccc thin solid;
  float: right;
}

div.login {
  float: right;
  padding: 0.5em;
  color: #f5e39e;
}

div.login a {
  color: #f5e39e;
}

div.login p {
  line-height: 0.5;
}

div.gravatar-profile {
  float: right;
  padding: 1ex;
  border: #ccc thin solid;
}

h1 {
  background: #de7008;
  color: #f5e39e;
  padding: 1em;
  margin: 0;
}

h2, h3, h4 {
  color: #9e5205;
}

.logo {
  float: left;
  margin: 1ex;
}

.hidden {
  display: none;
}

a:link, a:visited {
  color: #777;
}

a:hover {
  color: #b8a80d;
}

div.asset {
  background: #ddd;
  width: 30em;
  min-height: 10ex;
  float: left;
  padding: 2ex;
  margin: 1ex;
  text-align: left;
}

div.asset img.thumbnail {
  float: left;
  margin: 1ex;
}

div.asset div.thumbnail-description {
  margin: 1ex;
  font-size: small;
}

a.tag {
  background-color: #ddeefe;
  border: 1px solid #acc3ec;
  border-top-color: #c0d9e9;
  padding: 2px 7px 2px 10px;
  border-radius: 12px;
  box-shadow: 0 1px 1px #e4edf2;
  color: #2b3840;
  text-decoration: none;
}

ul.taglist {
  /*display: inline;*/
  padding: 0;
}

ul.taglist li {
  display: inline;
  line-height: 2;
}

p.title {
  margin: 5px;
}

#id_honeypot {
    display: none;
}

div.pagination {
  text-align: center;
  clear: both;
  margin-top: 5ex;
  padding: 1em;
}
